<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog-errors.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

	<variable name='requestInfo' value="${aspnet-request-ip} ${aspnet-request-method} ${aspnet-request-url} ${aspnet-mvc-action}"/>
	<variable name='processInfo' value="${aspnet-traceidentifier} ${processid}\:${threadid}"/>
	<variable name='exceptionInfo' value="| ${newline}${exception}"/>
	<variable name='codeLocation' value="${callsite:fileName=true} ${callsite-linenumber}"/>
	<variable name='apiLayoutFormat'   value="${pad:padding=-105:inner=${requestInfo}} | ${longdate} | ${level:uppercase=true:padding=-5} | ${pad:padding=-67:inner=${processInfo}} | ${message} ${onexception:inner=${exceptionInfo}}"/>
	<variable name='otherLayoutFormat' value="${pad:padding=-105:inner=${requestInfo}} | ${longdate} | ${level:uppercase=true:padding=-5} | ${pad:padding=-67:inner=${processInfo}} | ${pad:padding=-100:inner=${codeLocation}} | ${message} ${onexception:inner=${exceptionInfo}}"/>
    <targets>
        <target xsi:type="File" name="apiLogs" fileName="${var:logRootDirectoryPath}/${shortdate}/api.log"
            layout="${apiLayoutFormat}"/>

        <target xsi:type="File" name="apiErrors" fileName="${var:logRootDirectoryPath}/${shortdate}/errors.log"
            layout="${apiLayoutFormat}"/>

		<target xsi:type="File" name="apiTestLogs" fileName="${var:logRootDirectoryPath}/${shortdate}/api-tests.log"
	        layout="${apiLayoutFormat}"/>
		
		<target xsi:type="File" name="otherErrors" fileName="${var:logRootDirectoryPath}/${shortdate}/errors.log"
            layout="${otherLayoutFormat}"/>

		<target xsi:type="File" name="otherLogs" fileName="${var:logRootDirectoryPath}/${shortdate}/others.log"
            layout="${otherLayoutFormat}"/>
    </targets>

    <rules>
		<logger name="FireplaceApi.*Tests*" minlevel="Trace" writeTo="apiTestLogs" final="true"/>
		<logger name="FireplaceApi.*" minlevel="Error" writeTo="apiLogs, apiErrors" final="true"/>
		<logger name="FireplaceApi.*" maxlevel="Warn" writeTo="apiLogs" final="true"/>
		<logger name="*" minlevel="Warn" writeTo="otherErrors" final="true"/>
		<logger name="*" maxlevel="Info" writeTo="otherLogs" enabled="false"/>
    </rules>
</nlog>