<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog-errors.log">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

	<variable name='requestInfo' value="${aspnet-request-ip} ${aspnet-mvc-action} ${aspnet-request-url}"/>
	<variable name='processInfo' value="${aspnet-traceidentifier} ${processid}\:${threadid}"/>
	<variable name='exceptionInfo' value="| ${newline}${exception}"/>
	<variable name='layoutFormat' value="${pad:padding=-78:inner=${requestInfo}} | ${longdate} | ${level:uppercase=true:padding=-5} | ${pad:padding=-66:inner=${processInfo}} | ${message} ${onexception:inner=${exceptionInfo}}"/>
    <targets>
        <target xsi:type="File" name="apiTraces" fileName="${var:logRootDirectoryPath}/${shortdate}/api.log"
            layout="${layoutFormat}"/>

        <target xsi:type="File" name="allErrors" fileName="${var:logRootDirectoryPath}/${shortdate}/errors.log"
            layout="${layoutFormat}"/>

		<target xsi:type="File" name="apiTestTraces" fileName="${var:logRootDirectoryPath}/${shortdate}/api-tests.log"
	        layout="${layoutFormat}"/>
		
		<target xsi:type="File" name="toolsTraces" fileName="${var:logRootDirectoryPath}/${shortdate}/tools.log"
	        layout="${layoutFormat}"/>
    </targets>

    <rules>
		<logger name="FireplaceApi.*Tests*" minlevel="Trace" writeTo="apiTestTraces" final="true"/>
		<logger name="*" minlevel="Error" writeTo="allErrors"/>
		<logger name="FireplaceApi.*" minlevel="Trace" writeTo="apiTraces" final="true"/>
		<logger name="*" minlevel="Trace" writeTo="toolsTraces" enabled="false"/>
    </rules>
</nlog>