<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog-errors.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name='traceLayoutFormat' value='${pad:padding=-5:inner=${level:uppercase=true}} | ${longdate} | ${aspnet-traceidentifier} ${processid}:${threadid} | ${aspnet-request-ip} ${aspnet-mvc-action} ${aspnet-request-url} | ${callsite:cleanNamesOfAsyncContinuations=true} ${callsite-linenumber} | ${message}'/>
  <variable name='errorLayoutFormat' value='${pad:padding=-5:inner=${level:uppercase=true}} | ${longdate} | ${aspnet-traceidentifier} ${processid}:${threadid} | ${aspnet-request-ip} ${aspnet-mvc-action} ${aspnet-request-url} | ${callsite:cleanNamesOfAsyncContinuations=true} ${callsite-linenumber} | ${message} | ${exception:format=tostring}'/>
  <targets>
    <target xsi:type="File" name="apiTraces" fileName="${var:logRootFolder}/${shortdate}/api.log"
            layout="${traceLayoutFormat}"/>

    <target xsi:type="File" name="apiTestTraces" fileName="${var:logRootFolder}/${shortdate}/api-tests.log"
            layout="${traceLayoutFormat}"/>
    
    <target xsi:type="File" name="apiErrors" fileName="${var:logRootFolder}/${shortdate}/api.log"
            layout="${errorLayoutFormat}"/>

    <target xsi:type="File" name="toolsTraces" fileName="${var:logRootFolder}/${shortdate}/tools.log"
            layout="${traceLayoutFormat}"/>

    <target xsi:type="File" name="allErrors" fileName="${var:logRootFolder}/${shortdate}/errors.log"
            layout="${errorLayoutFormat}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="allErrors"/>
    <logger name="*" minlevel="Error" writeTo="apiErrors"/>
    <logger name="GamingCommunityApi.*Tests*" minlevel="Trace" writeTo="apiTestTraces" final="true"/>
    <logger name="GamingCommunityApi.*" minlevel="Trace" writeTo="apiTraces" final="true"/>
    <logger name="*" minlevel="Trace" writeTo="toolsTraces"/>
  </rules>
</nlog>